.containerNavigation {
    display: flex;
    font-weight: 600;
    gap: 24px;
    cursor: pointer;
}

.selectedTab {
    color: #4635B1;
    font-weight: 600;
    transition: all 0.3s ease;
}

.navigateButtons {
    color: #00FF9C;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.navigateButtons:not(.selectedTab):hover {
    color: #4635B1;
    font-weight: 600;
    transform: translateY(-2px);
}

.navigateButtons:active {
    transform: scale(0.92) translateY(1px);
    transition: all 0.1s ease;
}

.navigateButtons:not(.selectedTab):hover:active {
    transform: scale(0.92) translateY(-1px);
    transition: all 0.1s ease;
}

.navigateButtons::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(138, 43, 226, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}

.navigateButtons:active::after {
    animation: ripple 0.5s ease-out;
}

@keyframes ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}