.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.containerBox {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../../../../public/assets/wave-technological-hd.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contentContainer {
    width: 100%;
    max-width: 1280px;
    gap: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 17vh 20px 40px;
}

.containerCards {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.containerService {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: linear-gradient(to bottom,
    #0c1128 0%,
    #131a3d 60%,
    #192050 100%);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .contentContainer {
        padding-top: 14vh;
        gap: 8vh;
    }
}

@media (max-width: 768px) {
    .contentContainer {
        margin-top: 6vh;
        gap: 6vh;
    }
    
    .containerCards {
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 480px) {
    .contentContainer {
        padding-top: 8vh;
        gap: 5vh;
    }
}