.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.containerBox {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../../../../public/assets/wave-technological-hd.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contentContainer {
    width: 1280px;
    gap: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 17vh;
}

.containerCards {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}


.containerService {
    width: 100%;
    /* Substitua height: 100vh por min-height para permitir expansão se necessário */
    min-height: 100vh;
    /* Use auto em vez de 100vh para permitir que o contêiner se expanda conforme o conteúdo */
    height: auto;
    background-image: linear-gradient(to bottom,
    #0c1128 0%,
    #131a3d 60%,
    #192050 100%);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    /* Adicione padding para melhor espaçamento */
    padding: 30px 0;
    /* Adicione gap entre os componentes */
    gap: 30px;
    /* Ajuste overflow para hidden para evitar barras de rolagem não desejadas */
    /*overflow: hidden;*/
}
