.sizeOptionsContainer {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.sizeOptionButton {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: #e0e0e0;
    color: #00000099;
}

.selected {
    background-color: #000000;
    color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.deselected {
    background-color: #e0e0e0;
    color: #00000099;
}

.sizeOptionButton:hover {
    background-color: #2c2b2b;
    color: white;
    padding: 0.55rem 1.05rem;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sizeOptionButton:active {
    transform: scale(0.98);
}
