@media screen and (max-width: 1080px) {
    .containerHeader {
        color: black;
        padding: 0 1rem;
        box-sizing: border-box;
        width: 100%;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerBoxHeader {
        display: flex;
        width: 100%;
        gap: 1rem;
        height: 64px;
        justify-content: center;
        align-items: center;
    }

    .menuIcon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .shopLogo {
        font-family: 'integral-cf', sans-serif;
        font-weight: 800;
        font-size: 30px;
        line-height: 35px;
        margin: 0;
    }

    .menu {
        display: none;
    }

    .userContainer {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 50%;
        gap: 0.875rem;
    }

    .searchInput {
        display: none;
    }

}

@media screen and (min-width: 1081px) {
    .containerHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
    }

    .containerBoxHeader {
        width: 1240px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .menuIcon {
        display: none;
    }

    .shopLogo {
        color: black;
        width: 160px;
        font-size: 32px;
        line-height: 38px;
        font-family: 'Satoshi', sans-serif;
        font-weight: 1000;
        margin: 0 auto;
    }

    .menu {
        display: flex;
        width: 321px;
    }

    .menuList {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 16px;
        padding: 0;
        margin: 0;
    }

    .menuItem {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .menuItem a {
        text-decoration: none;
        color: black;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        cursor: pointer;
    }

    .searchInput {
        width: 577px;
        height: 48px;
        background-color: #F0F0F0;
        border-radius: 62px;
        padding-left: 52px;
        box-sizing: border-box;
        border: none;
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 24px 24px;
    }

    .userContainer {
        color: black;
        margin-left: 16px;
        width: 62px;
        display: flex;
        justify-content: space-between;
    }

    .searchIcon {
        display: none;
    }
}