.container {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: #06030C;
    background: linear-gradient(178deg, rgba(6, 3, 12, 1) 0%, rgba(8, 6, 26, 1) 100%);
}

.containerBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.containerSkeleton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skeletonContainer {
    width: 100%;
    padding: 20px;
}

.skeletonGrid {
    margin-top: 48px;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.skeletonCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alsoLikeSection {
    margin-top: 40px;
}

.sectionTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 20px;
}