@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,900');

* {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}