@media (max-width: 1080px) {
    .container {
        width: 390px;
        padding: 0 16px;
        box-sizing: border-box;
        margin-top: 24px;
    }

    .categoryArea {
        width: 100%;
        gap: 20px;
        margin-top: 24px;
    }

    .containerMobile {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .cardsContainer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: 1212px;
        margin-top: 24px;
    }

    .cardsContainerBox {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media (min-width: 1081px) {
    .container {
        width: 100%;
        max-width: 1440px;
        padding: 0 100px;
        box-sizing: border-box;
        margin-top: 24px;
    }

    .categoryArea {
        width: 100%;
        display: flex;
        gap: 20px;
        margin-top: 24px;
    }

    .containerAllClothes {
        width: 74.6%;
        display: flex;
        flex-direction: column;
    }

    .cardsContainer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: 1212px;
        margin-top: 24px;
    }

    .cardsContainerBox {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}