@media screen and (max-width: 1080px) {
    .browseStyle {
        color: black;
        width: 100%;
        padding: 16px;
        margin-top: 50px;
        box-sizing: border-box;
    }

    .containerBrowseStyle {
        background-color: #F0F0F0;
        width: 100%;
        height: 975px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 16px;
        box-sizing: border-box;
    }

    .title {
        width: 70%;
        text-align: center;
        font-size: 32px;
        line-height: 36px;
        font-family: "Integral CF", sans-serif;
        font-weight: bold;
        margin-bottom: 28px;
    }

    .cardTopicsBrowse {
        width: 310px;
        height: auto;
        gap: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .containerTopics {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .topicImage {
        display: flex;
        width: 310px;
        height: 190px;
        border-radius: 20px;
    }

    .topic {
        top: 16px;
        left: 24px;
        position: absolute;
        font-family: 'Satoshi', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }

}

@media screen and (min-width: 1081px) {
    .browseStyle {
        width: 100%;
        padding: 0 100px;
        margin-top: 80px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
    }

    .containerBrowseStyle {
        width: 1250px;
        padding: 60px 0;
        background: #F0F0F0;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }

    .title {
        font-size: 48px;
        line-height: 58px;
        font-family: "Integral CF", sans-serif;
        font-weight: 700;
    }

    .cardTopicsBrowse {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .containerTopics {
        overflow: hidden;
        display: flex;
        border-radius: 20px;
        position: relative;
    }

    .containerTopics:nth-child(1) img,
    .containerTopics:nth-child(4) img {
        width: 407px;
        height: 289px;
        cursor: pointer;
    }

    .containerTopics:nth-child(2) img,
    .containerTopics:nth-child(3) img {
        width: 684px;
        cursor: pointer;
        height: 289px;
    }

    .topic {
        position: absolute;
        left: 36px;
        top: 16px;
        font-family: 'Satoshi', sans-serif;
        font-weight: 1000;
    }


}